ul{
    padding-block: 1rem;
    list-style-type: none;
    padding-left: .5rem;
}
ul li a{
    text-decoration: none;
    display: block;
    text-align: center;
    background-color: var(--button-bg-color);
    color: var(--bg-color);
    padding-inline: 3.5rem;
    padding-block: .25rem;
    margin-block: .1rem;
    border-radius: .5rem;
    transition: ease-in-out .25s;
    border:1px solid var(--button-bg-color);
}
ul li a:hover{
    background-color: transparent;
    border:1px solid var(--button-bg-color);
    color: var(--button-bg-color);
}

