table {
    border-collapse: collapse;
    margin-inline: auto;
}

tr {
    border-bottom: 1px solid var(--button-bg-color);
}

tr:nth-child(odd) {
    background-color: var(--table-bg-color);
}

td {
    min-width: 150px;
}